@model List<TaskManagementSystem.Models.Project>

<h1>Projects OVer Budget</h1>
<br />

<ol>
    @foreach (var project in Model)
    {
    <li>
        @project.Title <br />
        @project.ApplicationUser.UserName <br />
        @project.Deadline <br />
        @project.Budget <br />
    </li>
    }
</ol>

