@model List<TaskManagementSystem.Models.Job>

<h1>Uncompleted Tasks Passed Deadline</h1>
<br />

<ol>
    @foreach (var job in Model)
    {
        <li>
            @job.Title <br />
            @job.Description <br />
            @job.Deadline <br />
            @job.Developers <br />
        </li>
    }
</ol>

